* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.menu-link:hover {
  color: #db7761;
}
.nav-menus .dropdown-child {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: #f3f0eb;
  color: #d9a598;
  opacity: 0;
  transition: all 1s linear;
}

.nav-menus .menu-link:hover > .dropdown-child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  font-size: 1.2rem;
  opacity: 1;
  padding: 4vh;

  font-weight: 600;
  background-color: #f3f0eb;

  width: 100%;
  left: 0;
  transition: all 1000s ease-in-out;
}

.nav-menus .dropdown-grandchild {
  color: black;
  transition: all 0.3s linear;
}

.nav-menus .dropdown-child .menu-link:hover > .dropdown-grandchild {
  display: block;
  /* background-color: yellow; */
  transition: all 0.3s linear;
}
.nav-menus .dropdown-child .menu-link:hover > .dropdown-grandchild:hover {
  background-color: #d8d5d0;
  transition: all 0.3s linear;
}

.menu-link:hover .menu-image {
  display: block;
  transition: all 0.3s linear;
}

.menu-image {
  display: none;
}

.h-half {
  height: 50%; /* Subtracting the margin from the height */
}
.btn {
  background-color: #a75b4a;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
